
<div class="container py-2">
    
    <%= render 'shared/messages'%>

    <div class="row">
        <aside class="col side-navbar">

            <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-3 px-2" do %>
                <div class="px-3 py-3 rounded-circle">
                    <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "twitter.png", width: "32" %></span>
                </div>
            <% end %>

            <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
                <div class="px-4 py-2 rounded-pill">
                    <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "home.png", width: "32" %> Home</span>
                </div>
            <% end %>

            <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
                <div class="px-4 py-2 rounded-pill">
                    <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "notifications.png", width: "32" %> Notifications</span>
                </div>
            <% end %>

            <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
                <div class="px-4 py-2 rounded-pill">
                    <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "messages.png", width: "32" %> Messages</span>
                </div>
            <% end %>

            <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
                <div class="px-4 py-2 rounded-pill">
                    <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "bookmarks.png", width: "32" %> Bookmarks</span>
                </div>
            <% end %>

            <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
                <div class="px-4 py-2 rounded-pill">
                    <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "user.png", width: "32" %> Profile</span>
                </div>
            <% end %>

            <div class="px-4">
                <%= link_to "Tweet", tweets_path, class: "btn btn-primary rounded-pill px-5 text-white font-weight-bold" %>
            </div>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary my-4" %>
        </aside>

        <div class="col-7">
            
            <%= form_with model: Tweet.new, url: tweets_path, data: { turbo:false } do |f| %>    
                <div class="form-group">
                    <h5><%= link_to "Home", dashboard_path, class: "text-dark text-decoration-none" %></h5>
                    <%= f.text_area :body, placeholder: "What is happening?!" ,class: "form-control border-0" %>
                </div>
                <hr/>
                <p class="d-flex justify-content-end">
                    <%= f.submit 'Tweet', class: 'btn btn-primary px-4 rounded-pill text-white font-weight-bold' %>
                </p>
            <% end %>

        
            <ul>

            <% Tweet.find_each do |tweet|%>
                <li><%= tweet.body %></li>
            <% end %>
            </ul> 
        </div>

        <div class="col">
            Column 3
        </div>

    </div>
  
</div>
