<div class="single_tweet py-3 px-4">
                
    <% if (Time.now - tweet.created_at) > 1.day %>
        <p> @<%= tweet.user.username %> - <%= tweet.created_at.strftime("%B %d") %> </p>
    <% else %>
        <p> @<%= tweet.user.username %> - <%= time_ago_in_words(tweet.created_at) %> </p>

    <% end %>

    <p><%= tweet.body %></p>
</div>