<aside class="col side-navbar">

    <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-3 px-2" do %>
        <div class="px-3 py-3 rounded-circle">
            <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "twitter.png", width: "32" %></span>
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
        <div class="px-4 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "home.png", width: "32" %> Home</span>
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
        <div class="px-4 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "notifications.png", width: "32" %> Notifications</span>
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
        <div class="px-4 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "messages.png", width: "32" %> Messages</span>
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
        <div class="px-4 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "bookmarks.png", width: "32" %> Bookmarks</span>
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-4 mb-2" do %>
        <div class="px-4 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3x;"><%= image_tag "user.png", width: "32" %> Profile</span>
        </div>
    <% end %>

    <div class="px-4">
        <%= button_tag "Tweet", type:"button", class: "btn btn-primary", data: { toggle: "modal", target: "#exampleModal" } %>
    </div>

    <div class="px-4">
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger my-4" %>

    </div>
</aside>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "shared/tweet_form" %>
      </div>
      
    </div>
  </div>
</div>